*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Color Palette */
:root {
  --primary: #5c62ec;
  --hover: #3c40ae;
  --acento: #85bfd1;
  --gray: #a0a0a1;
  --white: #ffffff;
  --fill: #1c1e22;
  --border: #26292d;
  --background: #171718;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Clases Utilitarias */

.invisible {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
}

.header__logo {
  width: 140px;
  height: 58px;
}

.header__img-container {
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.header__menu-toggle {
  display: none;
}

.header__list {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 20px;
  margin: 10px auto;
  background-color: var(--background);
  border-radius: 7px;
  transition: top 1s;
}

.header__list--top {
  top: -950px;
}

.header__item {
  display: block;
  padding: 10px 0;
  color: #fafafa;
  list-style: none;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  transition: color 0.3s ease-out;
}

.header__link:hover {
  color: #bbb;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.presentacion__container:nth-child(1) {
  margin-top: 80px;
  margin-bottom: 120px;
}

.presentacion__container:nth-child(2) {
  margin-bottom: 60px;
}

.presentacion__title {
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.25px;
  font-size: 40px;
  font-weight: medium;
  -webkit-text-stroke: 1px black;
}

.presentacion__title-span {
  color: var(--primary);
}

.presentacion__content {
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 20px;
}

.presentacion__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.presentacion__button {
  width: 80%;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
}

.presentacion__button:nth-child(1) {
  background-color: var(--primary);
  color: white;
  border: none;
}

.presentacion__button:nth-child(1):hover {
  background-color: var(--hover);
}

.presentacion__button:nth-child(2) {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.presentacion__button:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.presentacion__icon {
  width: 14px;
  height: 16px;
  vertical-align: bottom;
}

.presentacion__description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 10px auto;
  padding: 16px;
  background-color: var(--fill);
  border-radius: 5px;
}

.presentacion__description-content-container {
  display: flex;
  flex-direction: column;
}

.presentacion__description-content {
  line-height: 28px;
  letter-spacing: 0.44px;
}

.presentacion__button-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  padding: 13px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.main__card {
  margin-bottom: 20px;
}

.main__card:nth-last-child() {
  margin-bottom: 0;
}

.main__img {
  max-width: 100%;
  height: auto;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  padding: 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
}

.main__button img {
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 20px 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.footer__link--color {
  color: var(--acento);
}

.footer__link,
.footer__img {
  cursor: pointer;
}

.footer__link:hover {
  color: #ccc;
  transition: color 0.3s ease-out;
}

.footer__link--color:hover {
  color: var(--acento);
}

.autor {
  text-align: center;
}

/* Estilos Acerca De Mi */

.section__container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 144px;
}

.section__link {
  text-decoration: none;
  color: var(--acento);
}
.main__cards {
  width: 92%;
  margin: 0 auto;
}

.main__title {
  margin-bottom: 40px;
  text-align: center;
}

.card-grid__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card__container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: var(--fill);
}

.card__content-container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
}

.card__img {
  width: 40px;
  height: 40px;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.card__description {
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

/* Media Queries */
@media screen and (min-width: 650px) {
  .card-grid__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__container {
    flex-direction: row;
    gap: 20px;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    z-index: 500;
    justify-content: space-around;
    width: 100vw;
    background-color: var(--background);
  }

  .header__navbar {
    width: 40%;
    margin: 0;
  }

  .header__img-container {
    display: none;
  }

  .header__list {
    position: static;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .presentacion__title {
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
  }

  .presentacion__content {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .presentacion__button-container {
    display: flex;
    flex-direction: row;
  }

  .presentacion__button:nth-child(1) {
    border: 3px solid var(--primary);
  }

  .presentacion__button:nth-child(1):hover {
    border: 3px solid var(--hover);
  }

  .presentacion__description-container {
    flex-direction: row;
    gap: 30px;
    width: 80%;
    padding: 20px;
    padding-right: 100px;
  }

  .presentacion__description-img {
    flex-basis: 35%;
  }

  .presentacion__description-content-container {
    justify-content: space-between;
  }

  .presentacion__description-title {
    margin: 0;
    font-size: 48px;
    line-height: 57px;
  }

  .main {
    width: 70%;
  }

  .main__button {
    width: 218px;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .main__button:hover {
    background-color: var(--hover);
    cursor: pointer;
  }

  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    height: 240px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 20px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .footer__logo-container {
    height: 100%;
  }

  .autor-container {
    width: 80%;
    margin: 0 auto;
  }

  .autor {
    text-align: left;
  }

  .section__container {
    padding-top: calc(80px + 70px);
  }

  .card-grid__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title {
    margin-bottom: 64px;
  }

  .main__cards {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 128px;
  }
}

@media screen and (min-width: 1650px) {
  .main {
    width: 60%;
  }
}
